@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body { font-family: 'Roboto', sans-serif;}

* {
    padding: 0;
    margin: 0;
}

.res {
    width: 75%;
    margin: auto;
}

.header1 {
    height: auto;
    width: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: rgb(82, 82, 82);
}

.menu1 li {
    margin: 10px;
}

.feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 4vh;
}

.imgcont {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.line {
    position: relative;
    width: 25px;
    height: 24px;
    margin: auto;
}

.line img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.line::before {
    width: 150%;
    padding: 1px 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: lightgray;
    transform: translateX(-110%);
    z-index: 5;
}

.line::after {
    width: 150%;
    padding: 1px 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: lightgray;
    transform: translateX(80%);
    z-index: 5;
}
.welcome1 {
  width: 1560px;
  height: 119px;
  padding: 44px 0 0;
  background-color: #f9f9f9;
}
.Welcome-Sandip {
  font-family: Roboto;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: right;
  color: #4f4f4f;
}

.Welcome-Sandip .text-style-1 {
  font-weight: bold;
}
.Rectangle-20-copy-2 {
  height: 712px;
  color: white;
  text-align: center;
  background-color: #1d7a8c;
}
.Rectangle-653 {
  padding: 1px 0 0;
  border: solid 1px #e1e1e1;
  background-color: white;
}
.Rounded-Rectangle-2-copy-18 {
  margin: 0 1px;
  padding: 16px 34px 19px 14px;

   background-color: #f9f9f9;
}
.Rounded-Rectangle-2-copy-182 {
    padding: 7px 0 0;
    padding-bottom: 7px;
  border: solid 1px #e1e1e1;
   background-color: white;
}
.spans{
    padding-left: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}
.---1800 {
    padding-left: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--brownish-grey);
}
.---1801 {

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--brownish-grey);
}
.cust{
    text-align: left;
}
.Rounded-Rectangle-2-copy-6 {
  width: 80px;
  height: 34px;
  margin: 16px 21px 15px 85px;
  padding: 10px 16px 12px;
  border-radius: 17px;
  background-color: #ff6b6b;
}
.action{
 padding-left: 30px;
}
@media only screen and (max-width: 1000px) {
    .fo_nav {
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }
  }